* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #FFFFFF;
}
hr.dashed {
  border-top: 1px dashed #ffffff;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}


.button-value {
  border: 1px solid #010008;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: #D2D2D2;
  color: #000000;
  cursor: pointer;
}

.active {
  background-color: #D2D2D2;
  color: #000000;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 2em 0;
  
}
.card-local {
    max-width: 210px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d2d2d2;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-container img {
  max-width: 100%;
    object-fit: contain;
    height: 10em;
}

.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  .image-container img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card-local {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}


